/* UTILITIES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */

.navbar {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 2vh;
  background-color: #adc8d9;
  color: black;
}

.nav-links a {
  color: black;
}


/* NAVBAR MENU */

.menu {
  display: flex;
  gap: 2vh;
  font-size: 14px;
}

.menu li {
  padding: 2px 2px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8px;
  text-align: center;
}

.dropdown li+li {
  margin-top: 5px;
}

.menu li:hover {
  background-color: #c7add9;
  border-radius: 5px;
  transition: 0.3s ease;
}

/* DROPDOWN MENU */
.services {
  position: relative;
}

.dropdown {
  background-color: #c7add9;
  padding: 1em 0;
  position: absolute;

  /* WITH RESPECT TO PARENT */
  display: none;
  border-radius: 8px;
  top: 5px;

}

.dropdown li:hover {
  background-color: #c7add9;
}

.services:hover .dropdown {
  display: block;
}

/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
  display: none;
}

/* HAMBURGER MENU */

.hamburger {
  display: none;
  font-size: 20px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */

@media (max-width: 800px) {

  .menu {
    display: none;
    position: absolute;
    background-color: #d1dee6;
    right: 0;
    left: 0;
    text-align: center;
    padding: 5px px;
  }

  .menu li+li {
    margin-top: 12px;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #c7add9;
    transition: 0.3s ease;
  }

  input[type=checkbox]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 10px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #c7add9;
  }

}

/* Main sections */
.secondsection {
  display: flex;
  background-color: #adc8d9;
  background-size: contain;
  height: 50vw;
  justify-content: center;
  align-items: start;
  max-width: 100%;
  margin: auto;
  flex-direction: column;
}

.box-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  max-width: 100%;
  margin: 2em;
  height: 80%;
}


/* Clear floats after the columns */
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .secondsection {
  display: flex;
  background-color: #adc8d9;
  background-size: contain;
  justify-content: center;
  max-width: 100%;
  margin: auto;
  height: 100vw;
  align-items: start;
  flex-direction: column;
  }

.box-main {
  display: flex;
  align-items: center;
  color: black;
  max-width: 100%;
  margin: 2em;
  height: 90%;
}

  .row {
    flex: 1;
    flex-direction: column;
  }

  .lefthalf {
  flex: 100%;
  justify-content: start;
  text-align: justify;
}

.righthalf {
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

  .img{
    max-width: auto;
  }

}

.lefthalf {
  flex: 60%;
  justify-content: left;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}

.righthalf {
  display: flex;
  flex: 40%;
  align-items: end;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: baseline;
  padding-left: 20px;
  padding-right: 20px;
}

.text-big {
  font-weight: bold;
  font-size: 35px;
  justify-content: center;
}


/* unvisited link */
a:link {
  color: purple;
  font-weight: bold;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: purple;
}

/* selected link */
a:active {
  color: blue;
}

/* Text */
h1 {
  background-color: #adc8d9;
  font-size: 26px;
  font-weight: bold;
  color: black;

}

h2 {
  background-color: #adc8d9;
  font-size: 22px;
  font-weight: bold;
  color: black;

}

p {
  font-size: 18px;
  display: block;

}

footer {
  border-top: 0.25vw solid black;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


ul {
  display: flex;
  flex-wrap: wrap;
}


li {
  flex-grow: auto;
}

img {
    display: flex;
    width: 30vw;
}

