body {
    margin: 10px auto;
    width: 100%;
    color: #000000;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #00AF91;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 0px;
}
.example {
    float: right;
    dont-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 10%;
    list-style: none;
    color: #00AF91;
    font-size: 2vw;
    margin-right: 20px;
    width: 95%;
}
a {
    text-decoration: none;
    color: #00AF91;
}
a:hover {
    text-decoration: underline;
    color: #FF6252;
}
h1 {
    font-size: 3wv;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding-bottom: 2px;
    color: #00AF91;
}
h2 {
    font-size: 2vw;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #00AF91;
}
h3 {
    font-size: 1vw;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-style: italic;
    color: #000000;
}
p {
    font-size: 1.5vw;
    line-height: 1.5vw;
    color: #000000;
    padding-left: 2px;
}
li {
    font-size=1vw;
    line-height:1.0vw;
    color: #000000;
}

footer {
    border-top: 1vw solid #B2B9B9;
    font-size: .8vw;
}

ul.posts { 
    margin: 0px auto 100px; 
    font-size: 1.5vw;
}

ul.posts li {
    list-style: none;
}
