body {
    margin: 60px auto;
    width: 70%;
    color: #3E4B4B;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 20px;
    list-style: none;
    font-weight: bold;
    color: #00AF91;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
.example {
    float: right;
    dont-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 2px;
    list-style: none;
    font-weight: bold;
    color: #00AF91;
    font-size: 1.75em;
}
a {
    text-decoration: none;
    color: #00AF91;
}
a:hover {
    text-decoration: underline;
    color: #FF6252;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #00AF91;
}
h2 {
    font-size: 1.75em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #00AF91;
}
h3 {
    font-size: 1.25em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-style: italic;
    color: #000000;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #3E4B4B;
}
footer {
    border-top: 1px solid #B2B9B9;
    font-size: .8em;
}

ul.posts { 
    margin: 0px auto 100px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


